*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #2F4673;
    height: 8vh;
}

nav .logo{
    font-size: 1.5em;
}

main{
    display: flex;
    height: 92vh;
    overflow-y: auto;
    background-color: #a1b1c1;
    color: #010101;
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
}

main #titulo{
    font-weight: 700;
    font-size: 1.2em;
    color: #010101;
}

.links{
    background-color: #829EC6;
    padding: 40px;
    list-style: none;
    text-align: center;
}

.link div{
    margin: 30px;
}

.links li{
    margin: 10px;
}

#txt_pesquisa{
    float:left;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:226px;
    background-color:#BACDD9;
    color: #000;
}

#txt_pesquisa::placeholder{
    font-size: 18px;
    color: #2F4673;
}

#txt_pesquisa:focus{
    background-color:#DAEDF9;
    outline: none;
}

#btn_pesquisa{
    border:solid 5px #728EA6;
    background-color: #728EA6;
    height:32px;
}

#btn_pesquisa:hover{
    border:solid 5px #758FB6;
    background-color: #758FB6;
}
